.navbar {
  width: 100%;
  background-color: #f57c00;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.navbar-logo {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 0; 
}

.navbar-favicon {
  width: 60px;
  height: 60px;
  margin-right: 10px; 
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffd54f; 
}
